body{
    background: #ffffff!important;
}
.container{
    width: 90%;
    margin:auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    padding:0;
}
.cerdas-cermat{
    padding:30px 0 80px 0;
}
.image-banner{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}
.image-banner img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.h-10{
    height: 10px;
}
.h-15{
    height: 15px;
}
.h-25{
    height: 25px;
}
.w-10{
    width: 10%;
}
.w-100{
    width: 100%;
}
.flex-1{
    flex: 1;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    font-family: 'Nunito', sans-serif;
}
.session-list{
    list-style: none;
    color:#8F8F8F;
    margin-bottom: 30px;
}
.session-list li{
    padding: 20px 15px;
    margin-bottom: 25px;
    border-radius: 7px;
    box-shadow: 5px 8px 9px 0px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 5px 8px 9px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 5px 8px 9px 0px rgb(0 0 0 / 15%);
    background: #612aa3;
}
.session-list li.strip{
    background-color: #f5f5f5;
}
.session-name{
    font-size: 1.2rem;
    color:#fff;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}
.timer{
    font-size: 1rem;
}
.timer span{
    color:#fff;
    padding:5px;
    border-radius: 3px;
    margin:0 3px;
}
.timer.expired span{
    background: #B3B3B3;
}
.timer.waiting span{
    background: #B3B3B3;
}
.timer.active span{
    background: #6B3AAA;
}
.orange{
    color:#F0A500;
}
.more{
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: underline;
}
.btn{
    padding:7px 30px;
    border-radius: 20px;
}
.btn.end_session{
    background: #B3B3B3;
    color:#555555;
}
.btn.open{
    color: #fff;
    background: #612aa3;
    border: 1px solid #ffffff;
}
.btn.start{
    background: #FF2468;
    border: 1px solid #FF2468;
    color: #fff;
}
.btn-footer{
    position: fixed;
    bottom: 17px;
    left: 0;
    width: 100%;
    padding:0 25px
}
.btn-footer a{
    display: block;
    border: 1px solid #FF2468;
    color:#fff;
    background: #FF2468;
    border-radius: 35px;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    /*box-shadow: -1px 8px 12px 0px rgba(189,189,189,0.85);*/
    /*-webkit-box-shadow: -1px 8px 12px 0px rgba(189,189,189,0.85);*/
    /*-moz-box-shadow: -1px 8px 12px 0px rgba(189,189,189,0.85);*/
}
.question-number{
    padding:30px 0 0 0;
}
.question-number ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-number ul li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #999999;
    text-align: center;
    line-height: 30px;
}
.question-number ul li.active{
    border:1px solid #6129A3;
    background: #6129A3;
    color:#fff;
}
.button-action{
    position: fixed;
    bottom: 30px;
    text-align: center;
    width: 100%;
}
.btn-next-question{
    padding:10px 25px;
    border:1px solid #FF2468;
    background: #FF2468;
    color:#ffffff;
    border-radius: 20px;
    text-align: center;
    margin:5px;
    text-decoration: none!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn-submit-answer{
    padding:10px 25px;
    border:1px solid #6129A3;
    background:#6129A3;
    color:#ffffff;
    border-radius: 20px;
    text-align: center;
    margin:5px;
    text-decoration: none!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.answer ul{
    list-style: none;
}
.answer ul li{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.answer ul li label{
    margin-left: 5px;
    margin-bottom :0;
}
.btn-submit-answer.loading .text{
    display: none;
}
.btn-submit-answer.loading .loading{
    display: block;
}
.list-question{
    margin-bottom: 100px;
}
.alertify .ajs-dialog {
    margin-top: 200px;
}
.question{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 33px -5px rgb(0 0 0 / 15%);
}
.answer{
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 5px 33px -5px rgb(0 0 0 / 15%);
}
.ph-loading{
    position: fixed;
    width: 100%;
    background: rgb(247, 250, 252);
    height: 100vh;
    margin-left: -20px;
    padding: 30px;
}
.reg-info{
    font-size: 1rem;
    color: #dadada;
}
.stopwatch{
    padding:30px 0;
    font-size: 1rem;
}
.stopwatch span{
    border: 1px solid #612aa3;
    padding: 5px 7px;
    border-radius: 2px;
    background: #612aa3;
    color: #fff;
}
.alertify .ajs-body .ajs-content{
    padding: 16px 24px 16px 0px!important;
}
.progress-ccc{
    margin:7px 0 25px 0;
    background: #dadada;
    border-radius: 5px;
}
.progress-ccc .status{
    background: rgb(114,255,110);
    background: linear-gradient(40deg, rgba(114,255,110,1) 0%, rgba(212,77,64,1) 70%);
    height: 10px;
    border-radius: 5px;
}
.my-position{
    background: #673ab7;
    color: #fff;
}
table{
    font-size:0.9rem;
}